<h1>Application Form</h1>
<br>

<% include ../partials/flash %>

<%# FIRST PART: THE FORM %>
<form method="post" action="/applicants">
  <div class="row">
    <div class="form-group">
      <input type="text" class="form-control" name="applicants[name]" id="name" placeholder="Full Name as of NRIC">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[nric]" id="nric" placeholder="NRIC">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[contact]" id="contact" placeholder="Contact Number">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[gender]" id="gender" placeholder="Gender (M/F)">
    </div>

    <div class="form-group">
      <input type="date" class="form-control" name="applicants[dob]" id="dob">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[address]" id="address" placeholder="Address as per NRIC">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[bankname]" id="bankname" placeholder="Bank Name">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[bankaccount]" id="bankaccount" placeholder="Bank Account Number">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[nameOfEmergencyContact]" id="nameOfEmergencyContact" placeholder="Name of Emergency Contact">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[relationshipOfEmergencyContact]" id="relationshipOfEmergencyContact" placeholder="Relationship to Emergency Contact">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" name="applicants[contactOfEmergencyContact]" id="contactOfEmergencyContact" placeholder="Contact Number of Emergency Contact">
    </div>

    <div class="form-group">
    <label for="exampleInputFile">Please upload the front of your NRIC</label>
    <input type="file" id="exampleInputFile">
    <p class="help-block"></p>
  </div>

  <div class="form-group">
  <label for="exampleInputFile">Please upload the back of your NRIC</label>
  <input type="file" id="exampleInputFile">
  <p class="help-block"></p>
</div>


    <div class="form-group">
      <button type="submit" class="btn btn-success btn-block">Submit</button>
    </div>
  </div>



</form>
