
<div class="page-header text-center">
  <h1></span> My Profile</h1>
</div>


<div class="row">

  <!-- LOCAL INFORMATION -->
  <div class="col-sm-12">
    <div class="well">
    <p>
      <strong>Welcome <%= user.local.email %>!</strong> <br>
    </p>

    </div>
  </div>

</div>
