<h1>Application Page</h1>

<img src="logo.png" alt="DS Logo" width="100">

<form method="post" action="/applicants">
  <h2>Register now!</h2>
  <div class="row">
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Name]" id="Name" placeholder="Name">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[NRIC]" id="NRIC" placeholder="NRIC">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Contact]" id="Contact" placeholder="Contact">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Gender]" id="Gender" placeholder="(Male/Female)">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Email]" id="Email" placeholder="Email">
    </div>
    <div class="form-group col-md-4">
      <input type="date" class="form-control" name="applicants[dob]" id="Date of Birth">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Address]" id="Address" placeholder="Address">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Bank Name]" id="Bank Name" placeholder="Bank Name">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Bank Account Number]" id="Bank Account Number" placeholder="Bank Account Number">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Emergency Contact Name]" id="Emergency Contact Name" placeholder="Emergency Contact Name">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Relationship of Emergency Contact]" id="Relationship of Emergency Contact" placeholder="Relationship of Emergency Contact">
    </div>
    <div class="form-group col-md-4">
      <input type="text" class="form-control" name="applicants[Emergency Contact Contact Number]" id="Emergency Contact Contact Number" placeholder="Emergency Contact Contact Number">
    </div>
    <div class="form-group col-md-4">
      <button type="submit" class="btn btn-success btn-block">Submit your Application</button>
    </div>
  </div>
</form>
